<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path('home_banner.jpg') %>)">
  <div class="container">
    <h1>My Garden Manager</h1>
    <p>Manage, Cultivate and Grow your Garden and your Experience</p>
    <%= link_to "Discover", "#how", class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <div class="section">
    <h2 id="how" class="text-center">How does it work?</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to new_garden_path do %>
          <div class="icon">
            <%= image_tag "garden.svg" %>
          </div>
        <% end %>
        <p class="text-center fs-24">Create your garden</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to new_garden_path do %>
          <div class="icon">
            <%= image_tag "circles.svg" %>
          </div>
        <% end %>
        <p class="text-center fs-24">Add your plants</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to new_garden_path do %>
          <div class="icon">
            <%= image_tag "watering.svg" %>
          </div>
        <% end %>
        <p class="text-center fs-24">Manage your daily activity</p>
      </div>
    </div>
  </div>
  <div class="section">
    <h2 class="text-center">Our Community Best Gardens</h2>
    <div class="cards">
      <% @gardens.each do |garden| %>
        <%= render "garden_card", garden: garden %>
      <% end %>
    </div>
  </div>
  <div class="section">
    <div class="text-center">
      <%= link_to "Create my garden", new_garden_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
